CLAUDE.md
/.CLAUDE

VigiliaCode/.firebase
VigiliaCode/despliegue-hosting/.firebase
VigiliaCode/gitignore BAKKK.txt
*.ps1
*.sql
*.bat
*.env

VigiliaCode/frontend-vigilia/.expo
VigiliaCode/frontend-vigilia/.vscode


VigiliaCode/frontend-vigilia/dist/
VigiliaCode/frontend-vigilia/node_modules
VigiliaCode/frontend-vigilia/expo-env.d.ts

VigiliaCode/servicios/nanopi/nanopi-key.json
VigiliaCode/servicios/procesador-videos
VigiliaCode/servicios/Scripts sql