# Web Framework
fastapi
uvicorn

# Base de datos
sqlalchemy
psycopg2-binary 
cloud-sql-python-connector[psycopg2] 

# Modelos de datos
pydantic
email-validator

# Timezone handling
pytz

# Firebase Authentication
firebase-admin